.tariff {
    display: inline-block;
    padding: 1px;
    margin: 1px;
    border: 1px solid #ccc;
    margin-left: 0;
  }
  
  .tariff.highlighted {
    background-color: yellow;
    padding-top: 20px;
  }
  
  .basic {
    border-color: rgb(34, 143, 245);
  }
  
  .standard {
    border-color: rgb(62, 255, 165);
  }
  
  .premium {
    border-color: rgb(221, 94, 35);
  }
  
  .pro {
    border-color: black;
  }
  
