.tariff {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
  }
  
  .tariff.highlighted {
    box-shadow: yellow;
  }
  
  .basic {
    border-color: rgb(34, 143, 245);
  }
  
  .standard {
    border-color: rgb(62, 255, 165);
  }
  
  .premium {
    border-color: rgb(221, 94, 35);
  }
  
  .pro {
    border-color: black;
  }
  