.card {
  position: relative;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  cursor: pointer;
}

.card .card-front, .card .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s;
}

.card .card-front {
  z-index: 2;
}

.card .card-back {
  transform: rotateY(180deg);
  background-color: #a0c4ff;
}

.card.flipped .card-front {
  transform: rotateY(180deg);
}

.card.flipped .card-back {
  transform: rotateY(360deg);
  z-index: 2;
}

.card-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  margin-top: 20px;
}

.learned-count {
  margin-top: 20px;
}
