.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa; 
}

.logo-link {
  display: block;
  width: 100px; 
  height: 50px;
  background-image: url('../images/logo1.jpg');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px; 
}

.menu-links {
  display: flex;
  gap: 20px;
}

.menu-links a {
  color: blue; 
  text-decoration: none;
  font-size: 16px;
}

.menu-links a:hover {
  text-decoration: underline;
  
}
